
/*HTML*/

body{
    background-color: #f5f2cd;
    color: #965d62;
}

h1{
    font-size: 6rem;
    font-family: "Dancing Script", cursive;
}

h2, h3 {
    font-size: 3rem;
    font-family: "Imbue", serif;
}

a {
    font-size: 1.5rem;
    color: #965d62;
    text-decoration: none;
}

a:hover {
    color: #fff;
}

/*NavBar*/

.end-container{
    background-color: #c7956d;
    color:beige;
    padding: .75% 2.5%;
}

.section-container {
    text-align: center;
    padding: 5%;
    margin: 7.5%;
}

/* Middle container */

.card {
    background-color:#f5f2cd;
    border: none;
    padding: 5%;
}

.name-container{
    color:  #965d62;
    position: relative;
    top: 50%;        
}

.img-circle{
    width: 100%;
    height: auto;
    border: #c7956d 5px solid;
    border-radius: 50%;
    position: relative;
    z-index: 1;
}

.img-circle:hover{
    opacity: .2;
}

/* bottom container */

.bottom-container{
    color: #965d62;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inline{    
    position: relative;
}

footer a{
    font-size: 1rem;
}
